/* Design System */
:root{
    /* Color */
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --body-font-color: rgb(0, 0, 0);

    /* Text configuration */
    --body-font: 'Raleway';
    --body-font-weight: 400;
    --body-font-size:1rem;
    
    --nav-font: 'Raleway';
    --nav-font-weight: 400;
    --nav-font-size: 1rem; /* 16px */

    --section-title-font: 'Raleway';
    --section-title-font-weight: 700; 
    --section-title-font-size: 1.375rem; /* 22px */  

    --filter-font: 'Raleway';
    --filter-font-weight: 700;
    --filter-font-size: 1.125rem; /* 18px */

    --card-title-font: 'Raleway';
    --card-title-font-weight: 700;
    --card-title-font-size: 1rem; /* 16px */

    --card-font: 'Raleway';
    --card-font-weight: 400;
    --card-font-size: 0.875rem; /* 14px */
    
    --footer-title-font:'Raleway';
    --footer-title-font-weight:700;
    --footer-title-font-size: 1.125rem; /* 18px */

    /* Margin & Padding size */
    --margin-size_50px: 3.125rem;
    --margin-size_35px: 2.188rem;
    --margin-size_30px: 1.875rem;

    /* Radius size*/
    --radius-size_20px: 1.25rem;

    /* Percent size*/
    --hosting-size_pc:65%;
    --popular-size_pc:32%;

    /* Picture size */
    --hosting-img-height-size: 124px;
    --popular-img-height-size: 134px;
}

/* Initialization */
* {
    margin: 0px;
}

a{
    text-decoration: none;
}

/* General title and subitle */
.filter h1,
.resultHosting h2,
.resultPopular h2,
.activity h2 {
    font-family: var(--section-title-font),sans-serif;
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    color: var(--body-font-color);
}
.card__detail h3,
.activity h3 {
    font-family: var(--card-title-font),sans-serif;
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
}

.card__detail p {
    font-family: var(--card-font),sans-serif;
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
}

.filter p,
footer a {
    font-family: var(--body-font),sans-serif;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    color: var(--body-font-color);
}

.resultHosting a,
footer h2 {
    font-family: var(--footer-title-font),sans-serif;
    font-size: var(--footer-title-font-size);
    font-weight: var(--footer-title-font-weight);
    color: var(--body-font-color);
}

/* Navigation Bar */

.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.9rem;/*79*/
}

.appBar__logo {
    margin: auto 3.125rem auto 3.125rem;
}

.appBar__logoIcon {
    height: 1.188rem;
    width: 3.819rem;
}

.appBar__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 2.188rem;
    width: 21.5rem;
}

.appBar__navItem {
    height: 2.188rem;
    font-family: var(--nav-font),sans-serif;
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-size);
    color: var(--blue);
    padding-top: 10px;
}

.appBar__navItem:hover {
    border-top: 2px #0065FC solid;
}

.appBar__navItem:visited{
    color: var(--blue);
}

main {
    margin: 0 var(--margin-size_50px);
}

/* Section "Trouver votre hebergement" */
.filter {
    margin-top: var(--margin-size_30px);
}
        /* Search form */

.filterSearch__button {
    padding: 15px;
    background:var(--blue);
    color: white;
    font-weight: 700;
    font-family: var(--body-font);
    border-radius: 0px 15px 15px 0px;
    border: 2px var(--blue) solid;
    font-size: 18px;
}

.filterSearch__buttonMap {
    padding: 15px;
    border: none;
    background-color: var(--grey);
    border-radius: 15px 0px 0px 15px;
}

.filterSearch__textInput {
    padding: 15px;
    border:none;
    border-top: 2px var(--grey) solid;
    border-bottom: 2px var(--grey) solid;
}

form {
    display: flex;
    margin: var(--margin-size_35px) 0px;
}

        /* Filter Bar */

.filterBar {
    display: flex;
    align-items: center;
    font-family: var(--filter-font),sans-serif;
    font-size: var(--filter-font-size);
    font-weight: var(--filter-font-weight);
    margin-bottom: var(--margin-size_35px);
}

.filterBar__navItem {
    margin-left: 10px;
    padding: 10px;
    border: 2px var(--grey) solid;
    border-radius: 25px;
    color: var(--body-font-color);
}

.filterBar__navItem:hover {
    background-color: var(--light-blue);
}

.filterBar span[class*="fa"] {
    color: var(--blue);
    padding-right: 10px;
}

.filterInfo{
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-size_35px);
}

.section__subtitleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--blue);
    border-radius: 50%;
    border: 1px var(--grey) solid;
}

/*Section "Hébergements et + populaires" */
.result,
.resultHosting, .resultPopular,
.resultHosting__group, .resultPopular__group {
    display: flex;
}

.result {
    flex-direction: row;
    justify-content: space-between;
}

.resultHosting,
.resultPopular {
    background-color: var(--grey);
    border-radius: var(--radius-size_20px);
    padding:var(--margin-size_30px);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    gap:var(--margin-size_30px);
}

.resultHosting__group,
.resultPopular__group {
    gap:var(--margin-size_30px);
}

        /* Section "Hebergement à Marseille"*/
.resultHosting {
    width: var(--hosting-size_pc);
}

.resultHosting__group {
    flex-direction: row;
}

.resultHosting__group--card img {
    height: var(--hosting-img-height-size);
}

        /* Section "Les plus populaires"*/
.resultPopular {
    width: var(--popular-size_pc);
}

.resultPopular__group {
    flex-direction: column;
}

.resultPopular__group--card img {
    height: var(--popular-img-height-size);
}