/* Design System */
:root{
    /* Color */
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;

    /* Text configuration */
    --body-font: 'Raleway';
    --body-font-weight: 400;
    --body-font-size:1rem;
    
    --nav-font: 'Raleway';
    --nav-font-weight: 400;
    --nav-font-size: 1rem; /* 16px */

    --section-title-font: 'Raleway';
    --section-title-font-weight: 700; 
    --section-title-font-size: 1.375rem; /* 22px */
    
    --info-font: 'Raleway';
    --info-font-weight: 400;
    --info-font-size: 1rem; /* 16px */

    --filter-font: 'Raleway';
    --filter-font-weight: 700;
    --filter-font-size: 1.125rem; /* 18px */

    --card-title-font: 'Raleway';
    --card-title-font-weight: 700;
    --card-title-font-size: 1rem; /* 16px */

    --card-font: 'Raleway';
    --card-font-weight: 400;
    --card-font-size: 0.875rem; /* 14px */
    
    --footer-title-font:'Raleway';
    --footer-title-font-weight:700;
    --footer-title-font-size: 1.125rem; /* 18px */

    --footer-link-font: 'Raleway';
    --footer-link-font-weight: 400;
    --footer-link-font-size: 1rem; /*16*/

}

body {
    font-family: var(--body-font),sans-serif;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    /*width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 50px 0 50px;*/ 
}

.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.9rem;/*79*/
}

.appBar__logo {
    margin: auto 3.125rem auto 3.125rem;
}

.appBar__logoIcon {
    height: 1.188rem;
    width: 3.819rem;
}

.appBar__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 2.188rem;
    width: 21.5rem;
}

.appBar__navItem {
    height: 2.188rem;
    font-family: var(--nav-font),sans-serif;
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-size);
    color: var(--blue);
    padding-top: 10px;
}

.appBar__navItem:hover {
    border-top: 2px #0065FC solid;
}

.appBar__navItem:visited{
    color: var(--blue);
}

.main-section-title {
    font-family: var(--section-title-font),sans-serif;
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);  
}

.section-title {
    font-family: var(--section-title-font),sans-serif;
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
}

.filterBar {
    display: flex;

    font-family: var(--filter-font),sans-serif;
    font-size: var(--filter-font-size);
    font-weight: var(--filter-font-weight);
}

.filterBar__navItem {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    align-items: center;
    border: 2px var(--grey) solid;
}
 .filterBar i {
    color: var(--blue);
    padding-right: 10px;
 }

 .filterBar p {
    color: black;
 }


.article-title {
    font-family: var(--card-title-font),sans-serif;
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
}

.article-subtitle {
    font-family: var(--card-font),sans-serif;
    font-size: var(--card-font-size);
    font-weight: var(--card-font-weight);
}

.footer-title {
    font-family: var(--filter-font),sans-serif;
    font-size: var(--footer-title-font-size);
    font-weight: var(--footer-title-font-weight);
}

footer {
    font-family: var(--footer-link-font),sans-serif;
    font-size: var(--footer-link-font-size);
    font-weight: var(--footer-link-font-weight);
    background-color: var(--grey);
}

.affichez-plus{
    font-family: var(--filter-font),sans-serif;
    font-size: var(--filter-font-size);
    font-weight: var(--filter-font-weight);
}

a{
    text-decoration: none;

}

.hebergements_and_populaires {
    background-color: var(--grey);
}